:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

body {
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: white;
  background: cornflowerblue;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

#base {
  height: 30px;
  padding: 0;
  border: none;
}
