html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0; 
  font-family: sans-serif;
  background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  font-size: 20px;
  line-height: 2;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.highlight {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
  left: 0;
  z-index: -1;
  border-radius: 5px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 100px 0;
}

.menu a {
  display: inline-block;
  padding: 5px;
  margin: 0 20px;
  color: black;
}
